@import url(./__logo/header__logo.css);
@import url(./__menu/header__menu.css);
@import url(./__container/header__container.css);

.header {
    width: 100%;
    min-height: 120px;
    margin-bottom: 70px;
}


@media screen and (max-width: 768px) {
    .header {
        margin-bottom: 90px;
    }
}

@media screen and (max-width: 480px) {
    .header {
        margin-bottom: 60px;
    }
}