.navigation__donate-button {
    margin-right: 17px;
    background-color: #00B956;
    border: none;
    color: white;
    font-size: 18px;
    line-height: 25px;    
    width: calc(145px + 10%);
    min-height: 40px;
    transition: background-color 0.5s;
}

.navigation__donate-button:hover {
    background-color: rgb(2, 206, 97)
}

@media screen and (max-width: 768px) {
    .navigation__donate-button {
        margin-right: 0;
        width: 241px;
        height: 50px;
        padding: 0 0 0 20px;
        text-align: left;
        font-family: 'Verdana', 'Geneva', sans-serif;
        font-size: 16px;
        line-height: 1.5em;
        letter-spacing: normal;
        transition: background-color 0.5s;
    }

    .navigation__donate-button:hover {
        background-color: #653D7C;
    }
}